version: '3.8'

x-traefik-labels: &traefik-defaults
  traefik.enable: true
  traefik.http.routers.${SERVICE_NAME}.entrypoints: websecure
  traefik.http.routers.${SERVICE_NAME}.tls.certresolver: myresolver

services:
  traefik:
    image: traefik:v3.0
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik.yml:/etc/traefik/traefik.yml:ro"
      - "./letsencrypt:/letsencrypt"
    networks:
      - workify-network

  frontend:
    image: ghcr.io/desuyume/workify-frontend:latest
    env_file: ./.env
    restart: unless-stopped
    labels:
      <<: *traefik-defaults
      SERVICE_NAME: frontend
      traefik.http.routers.frontend.rule: Host(`${DOMAIN_NAME}`) || Host(`www.${DOMAIN_NAME}`)
      traefik.http.services.frontend.loadbalancer.server.port: ${FRONTEND_PORT:-3000}
    networks:
      - workify-network

  backend:
    image: ghcr.io/desuyume/workify-backend:latest
    env_file: ./.env
    restart: unless-stopped
    labels:
      <<: *traefik-defaults
      SERVICE_NAME: backend
      traefik.http.routers.backend.rule: Host(`api.${DOMAIN_NAME}`)
      traefik.http.services.backend.loadbalancer.server.port: ${BACKEND_PORT:-8000}
      traefik.http.middlewares.cors.headers.accesscontrolallowmethods: GET,POST,PUT,DELETE,OPTIONS
      traefik.http.middlewares.cors.headers.accesscontrolalloworiginlist: https://${DOMAIN_NAME}
      traefik.http.middlewares.cors.headers.accesscontrolallowcredentials: true
      traefik.http.routers.backend.middlewares: cors
    networks:
      - workify-network
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    env_file: ./.env
    restart: unless-stopped
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - workify-network

  adminer:
    image: adminer:4.8.1
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      - ADMINER_DEFAULT_SERVER=postgres
    labels:
      <<: *traefik-defaults
      SERVICE_NAME: adminer
      traefik.http.routers.adminer.rule: Host(`admin.${DOMAIN_NAME}`)
      traefik.http.services.adminer.loadbalancer.server.port: 8080
      traefik.http.middlewares.admin-auth.basicauth.users: ${ADMIN_AUTH}
    networks:
      - workify-network
    depends_on:
      - postgres

networks:
  workify-network:
    driver: bridge

volumes:
  postgres-data: