version: '3.8'

services:
  caddy:
    image: caddy:2.8.4
    container_name: workify-caddy
    env_file: ./.env
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./caddy_data:/data
      - ./caddy_config:/config
    networks:
      - workify-network

  frontend:
    image: ghcr.io/desuyume/workify-frontend:latest
    container_name: workify-frontend
    env_file: ./.env
    restart: unless-stopped
    networks:
      - workify-network

  backend:
    image: ghcr.io/desuyume/workify-backend:latest
    container_name: workify-backend
    env_file: ./.env
    restart: unless-stopped
    networks:
      - workify-network
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    container_name: workify-postgres
    env_file: ./.env
    restart: unless-stopped
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - workify-network

  adminer:
    image: adminer:4.8.1
    container_name: workify-adminer
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      - ADMINER_DEFAULT_SERVER=postgres
    networks:
      - workify-network
    depends_on:
      - postgres

  prometheus:
    image: prom/prometheus
    container_name: workify-prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
      - '--web.enable-lifecycle'
    ports:
      - "9090:9090"
    networks:
      - workify-network

  grafana:
    image: grafana/grafana
    container_name: workify-grafana
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${MONITOR_AUTH}
      - GF_SERVER_HTTP_PORT=3001
      - GF_INSTALL_PLUGINS=grafana-piechart-panel
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    ports:
      - "3001:3001"
    networks:
      - workify-network

networks:
  workify-network:
    driver: bridge

volumes:
  postgres-data:
  caddy_data:
  caddy_config:
  prometheus_data:
  grafana_data: