services:
  nginx:
    image: nginx:alpine
    env_file: ./.env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./ssl:/etc/nginx/ssl:ro
      - ./data/nginx/logs:/var/log/nginx
      - ./data/certbot/www:/var/www/certbot
    depends_on:
      - frontend
      - backend
      - adminer
    networks:
      - workify-network
    restart: unless-stopped
    labels:
      - "traefik.enable=false"

  frontend:
    image: ghcr.io/desuyume/workify-frontend:latest
    env_file: ./.env
    networks:
      - workify-network
    restart: unless-stopped

  backend:
    image: ghcr.io/desuyume/workify-backend:latest
    env_file: ./.env
    depends_on:
      - postgres
    networks:
      - workify-network
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    env_file: ./.env
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - workify-network
    restart: unless-stopped

  adminer:
    image: adminer:4.8.1
    ports:
      - "8080:8080"
    environment:
      - ADMINER_DEFAULT_SERVER=postgres
      - ADMINER_DEFAULT_DB=${POSTGRES_DB}
    depends_on:
      - postgres
    networks:
      - workify-network
    restart: unless-stopped

  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    restart: unless-stopped
    volumes:
      - ./ssl:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - workify-network

networks:
  workify-network:
    driver: bridge

volumes:
  postgres-data:
  nginx_logs: