services:
  nginx:
    image: nginx:alpine
    env_file: ./.env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./ssl:/etc/nginx/ssl
      - ./nginx/.htpasswd:/etc/nginx/.htpasswd:ro
    depends_on:
      - frontend
      - backend
      - adminer
    networks:
      - workify-network
    restart: unless-stopped

  frontend:
    image: ghcr.io/desuyume/workify-frontend:latest
    env_file: ./.env
    networks:
      - workify-network
    restart: unless-stopped

  backend:
    image: ghcr.io/desuyume/workify-backend:latest
    env_file: ./.env
    depends_on:
      - postgres
    networks:
      - workify-network
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    env_file: ./.env
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - workify-network
    restart: unless-stopped

  adminer:
    image: adminer:4.8.1
    ports:
      - "8080:8080"
    environment:
      - ADMINER_DEFAULT_SERVER=postgres
      - ADMINER_DEFAULT_DB=${POSTGRES_DB}
    depends_on:
      - postgres
    networks:
      - workify-network
    restart: unless-stopped

networks:
  workify-network:
    driver: bridge

volumes:
  postgres-data: