services:
  postgres:
    image: postgres:17.5-alpine
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - '54321:5432'
    networks:
      - workify-dev
    env_file: ./.env

volumes:
  postgres-data:

networks:
  workify-dev:
    driver: bridge