version: '3.8'

services:
  caddy:
    image: caddy:2-alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./caddy_data:/data
      - ./caddy_config:/config
    networks:
      - workify-network

  frontend:
    image: ghcr.io/desuyume/workify-frontend:latest
    env_file: ./.env
    restart: unless-stopped
    networks:
      - workify-network

  backend:
    image: ghcr.io/desuyume/workify-backend:latest
    env_file: ./.env
    restart: unless-stopped
    networks:
      - workify-network
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    env_file: ./.env
    restart: unless-stopped
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - workify-network

  adminer:
    image: adminer:4.8.1
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      - ADMINER_DEFAULT_SERVER=postgres
    networks:
      - workify-network
    depends_on:
      - postgres

networks:
  workify-network:
    driver: bridge

volumes:
  postgres-data:
  caddy_data:
  caddy_config: