version: '3.8'

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./ssl:/etc/nginx/ssl
    depends_on:
      - frontend
      - backend
    networks:
      - workify-network
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: ./apps/frontend/Dockerfile
    env_file: ./.env
    networks:
      - workify-network
    restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile
    env_file: ./.env
    depends_on:
      - postgres
    networks:
      - workify-network
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    env_file: ./.env
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - workify-network
    restart: unless-stopped

networks:
  workify-network:
    driver: bridge

volumes:
  postgres-data: